@model EntityFramworkDbDemo.Web.DataModels.Models.DepartmentViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-xs-4 col-sm-offset-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">Department</div>
            </div>
            @using (Html.BeginForm("Index", "Home", FormMethod.Post))
            {
                <div class="panel-body">
                    <div class="form-group">
                        @if (ViewBag.Error != null)
                        {
                            <p style="color: red">@ViewBag.Error</p>
                        }
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Name)
                        @Html.TextBoxFor(m => m.Name, new {@placeholder = "Department Name", @class = "form-control"})
                       
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.DepartmentCode)
                        @Html.TextBoxFor(m => m.DepartmentCode, new {@placeholder = "Department Code", @class = "form-control"})
                    </div>
                </div>
                <div class="panel-footer">

                    <button type="submit" class="btn btn-primary">Save</button>

                </div>
            }
        </div>
    </div>

</div>

<div class="row">
    <div class="col-xs-8 col-sm-offset-2">
        @Html.Action("DepartmentList")
    </div>
</div>

<div id="EditModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Edit</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <p id="pErrorMessage" style="color: red;"></p>
                </div>
                <div class="form-group">
                    <label for="txtDepartment">Department name </label>
                    <input type="text" class="form-control" id="txtDepartment" placeholder="Department name">
                </div>
                <div class="form-group">
                    <label for="txtDepartmentCode">Department code</label>
                    <input type="text" class="form-control" id="txtDepartmentCode" placeholder="Department code">
                    <input type="hidden" id="deptGuid"/>
                    <input type="hidden" id="deptCreateDate"/>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" onclick="saveChanges()" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        function saveChanges() {
            if (!isValidForm())
                return;
            var model = {};
            model.Name = $('#txtDepartment').val();
            model.Guid = $('#deptGuid').val();
            model.DepartmentCode = $('#txtDepartmentCode').val();
            model.CreatedOn = $('#deptCreateDate').val();

            $.ajax({
                type: "POST",
                url: "/home/UpdateDepartment",
                data: model,
                success: function(result) {
                    if (result.StatusCode === 2) {
                        $('#EditModal').modal("hide");
                        window.location.href="/home/index";
                    } else {
                        $("#pErrorMessage").text(result.Status);
                    }
                }
            });
        };

        function isValidForm(parameters) {
            if ($('#txtDepartment').val() === "") {
                $("#pErrorMessage").text("Please Enter Department name.");
                return false;
            } else if ($('#txtDepartmentCode').val() === "") {
                $("#pErrorMessage").text("Please Enter Department code.");
                return false;
            }
            $("#pErrorMessage").text("");
            return true;
        };

        function editDepartment(id) {
            $.get("/home/getsingle/" + id, "", function(result) {
                console.log(JSON.stringify(result));
                $('#txtDepartment').val(result.Name);
                $('#deptGuid').val(result.Guid);
                $('#txtDepartmentCode').val(result.DepartmentCode);
                $('#deptCreateDate').val(result.CreatedOn);
                $('#EditModal').modal('show');
            });
        };

        function deleteDepartment(id) {
            $.get("/home/deletedept/" + id, "", function(result) {
                window.location.href="/home/index";
            });
        }

    </script>
}